body {
	background-color:black;
	color:black;
}

.grid-container {
	display: grid;
	background-color: indigo;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 250px 1fr 125px;
	
	grid-row-gap: 0px;
	grid-column-gap: 25px;
	grid-template-areas:
    "header header"
	"section aside"
	"footer footer";
	border-style: solid;
	place-self: center;
}

.grid-item-1 {
	grid-area: header;
	background-color: #d5deff;
	color: indigo;
	border-style: solid;
	border-color: #ffffff;
}

.grid-item-2 {
	grid-area: section;
	background-color: #dcd4ff;
	color: indigo;
	border-style: solid;
	border-color: #ffffff;
}

.grid-item-3 {
	grid-area: aside;
	background-color:#ffe1f9;
	color: indigo;
	border-style: solid;
	border-color: #ffffff;
}

.grid-item-4 {
	grid-area: footer;
	background-color: #afb8ff;
	color: indigo;
	border-style: solid;
	border-color: #ffffff;
}