body {
    background-image: url("./CS3020_Lab3_supplement_SP2022/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

dd, dl, dt {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    list-style-type: none;
    padding-left: 10pt;
    padding-right: 10pt;
}

dd {
    padding-bottom: 10pt;
}

h1 {
    text-shadow: 3px 3px #999999;
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
}

.review img, .reviewer img {
    padding-right: 5px;
    float: left;
}

ul {
    list-style-type: none;
}

/* Classes */
.banner-container {
    background-image: url("./CS3020_Lab3_supplement_SP2022/bannerbg.png");
    background-repeat: repeat-x;
    width: 100%;
    text-align: center;
    line-height: 0; 
}

.banner-container img {
    display: inline-block;
    max-width: 100%;
    height: 50px;
}

.bold {
    font-weight: bold;
}

.italicize {
    font-style: italic;
}

.light-green {
    background-color: #A2B964;
}

.overall-score {
    color: red;
    font-size: 48pt;
}

.review {
    font-size: 8pt;
    background-color: #E8DC9B;
    border: grey 2px solid;
    border-radius: 10px;
    padding: 8px;
    overflow: auto;
}

.reviewer {
    padding-top: 8pt;
    padding-bottom: 20pt;
    overflow: auto;
}

.w3c {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 50%;
}

/* Grid Layout Code */
.container {
    display: grid;
    width: 800px;
    border: 4px solid gray;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    grid-template-columns: 550px 250px;
    grid-template-rows: 83px 1fr 1fr 33px;
    grid-template-areas:
    "box-1 box-3"
    "box-2 box-3"
    "box-2 box-3"
    "box-4 box-4";
}

.box-1 {
    grid-area: box-1;
    grid-template-columns: auto 1fr;
    display: grid;
    align-items: center;
    background-image: url("./CS3020_Lab3_supplement_SP2022/rbg.png");
}

.box-2 {
    grid-area: box-2;
    display: grid;
    grid-template-columns: 2% 47% 2% 47% 2%;
    grid-template-rows: 11px 1fr;
    grid-template-areas:
    ". .       . .       ."
    ". box-2-1 . box-2-2 ."
    ". box-2-1 . box-2-2 ."
    ". box-2-1 . box-2-2 ."
    ". box-2-1 . box-2-2 ."
    ". box-2-1 . box-2-2 .";
}

.box-2-1 {
    grid-area: box-2-1;
}

.box-2-2 {
    grid-area: box-2-2;
}

.box-3 { 
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
    display: grid;
    place-items: center;
}

